<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hyperswitchsamsungpay">
  <uses-sdk
    android:minSdkVersion="21"
    android:targetSdkVersion="33" />
  <queries>
    <package android:name="com.samsung.android.spay" />
    <package android:name="com.samsung.android.samsungpay.gear" />
  </queries>
</manifest>
